@font-face {
  font-family: Infinity;
  src: url(../fonts/made_infinity/Thin.otf);
  font-weight: 100;
}

@font-face {
  font-family: Infinity;
  src: url(../fonts/made_infinity/Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: Infinity;
  src: url(../fonts/made_infinity/Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Infinity;
  src: url(../fonts/made_infinity/Medium.otf);
  font-weight: 600;
}

@font-face {
  font-family: Infinity;
  src: url(../fonts/made_infinity/Black.otf);
  font-weight: 900;
}

* {
  font-family: Infinity;
}