/* SCROLLBAR */
::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #aaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #00000000;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #555;
}


* {
  box-sizing: border-box;

  image-rendering: optimizeQuality;
}

body {
  background-color: #89a;

  padding: 0;
  margin: 0;

  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

/* AREA DE LOG */
.logArea {
  position: fixed;
  bottom: -275px;
  max-width: 450px;
  width: 90%;
  height: 300px;

  padding: 10px;

  background-color: #8899aa;
  color: #eee;
  border-radius: 5px 5px 0 0;
}

.logArea:before {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 100px;
  height: 5px;
  background-color: #fff;

  border-radius: 3px;
}

.logArea:hover {
  bottom: 1px;
}

.logArea h1 {
  margin: 2px 0;
  color: #0000ee;
}

#log-container {
  height: 80%;
  overflow-y: auto;
}

.logData {
  border-right: 3px solid #fff;
  position: relative;
  /* background-color: #0000aa; */
  width: 100%;
  min-height: 35px;
  margin: 1px 0;
  padding: 5px 2px;

  text-align: center;

  font-size: 8pt;
}

.logData::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -6px;
  background-color: #fff;
  width: 12px;
  aspect-ratio: 1;

  z-index: 2;

  transform: rotateZ(45deg);
}

/**********/
.tela {
  position: relative;
  width: 340px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.battlefield {
  position: relative;
  perspective: 1500px;
  perspective-origin: top;

  bottom: 5%;
}

.field {
  transform-style: preserve-3d;
  transform: rotateX(70deg);
}

.enemyField,
.middle,
.playerField {
  border: 3px solid #ffffff60;
  width: 260px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
  padding: 0;
}

.enemyField {
  height: 300px;
}

.middle {
  height: 80px;
}

.playerField {
  height: 200px;
}

#playerAmount,
#playerEffectZone,
#enemyAmount,
#enemyEffectZone {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff35;
  border-radius: 2px;
}

.playerField #playerAmount {
  width: 36px;
  aspect-ratio: 1/1.6;

  margin: 2px 0;
}

.playerField #playerEffectZone {
  background-color: #ffffff25;
  border-radius: 3px;
  width: calc(36px * 5);
  height: 68px;
  border: 1px solid #ffffff55;

  margin: 2px 0;
}

.playerHandZone {
  align-self: flex-start !important;
  position: absolute;
  bottom: -10px;
  width: 350px;
  height: 600px;

  padding-bottom: 5px;

  overflow-x: auto;
  overflow-y: hidden;

  display: flex;
  align-items: flex-end;

  /*border: 1px solid red;*/
}

.playerHandZone>div {
  width: 52px;
  height: 80px;

  margin: 0 3px;

  box-shadow: 0 4px 2px -2px #667788bc;

}

.playerHandZone>div>img {
  box-shadow: 0 0 6px 2px #112233;

  transition: transform 0.14s linear;
  transition: scale 0.12s linear;
}

.playerHandZone>div:hover {
  position: relative;
  scale: 1.1;
  transform: translateY(-3px);
  z-index: 100;
  border: 2px solid red;
}

.playerHandZone>div>img {
  width: 100%;
  height: 100%;
}

.enemyField #enemyAmount {
  border-radius: 3px;
  width: 38px;
  aspect-ratio: 1/1.75;

  margin: 2px 0;

  transform: rotateZ(-180deg);
}

.enemyField #enemyEffectZone {
  border-radius: 3px;
  width: calc(38px * 5);
  aspect-ratio: 1/0.4;

  margin: 2px 0;
  transform: rotateZ(-180deg);
}

#enemyHand {
  position: relative;
  width: 100%;
  height: 30px;

  perspective: 250px;
  perspective-origin: bottom;
}

#enemyHand #enemyCards {
  position: relative;
  height: 100px;

  margin: -175px auto;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;


  transform-style: preserve-3d;
  transform: rotateX(-14deg);
}

#enemyCards>div {
  position: relative;
  width: 32px;
  height: 100%;
  margin: 2px;
  border: 1px solid #fff;
}

#enemyCards>div>img {
  width: 100%;
  height: 100%;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#deck,
#descart {
  background-color: #33445575;
  border-radius: 2px;
  height: 40px;
  color: #fff;
  padding: 0 3px;
  margin: 0 20px;

  font-size: 10pt;
  font-weight: lighter;

  display: flex;
  align-items: center;

}

#deck>img {
  width: 26px;
  aspect-ratio: 1/1.3;
  margin: 0 8px;
  rotate: 90deg;
}

#descart>img {
  width: 26px;
  aspect-ratio: 1/1.3;
  margin: 0 4px;
  rotate: 90deg;

}