.logArea {
  position: fixed;
  right: -210px;
  min-width: 230px;
  height: 100%;

  background-color: #dd0025;
  color: #eee;

  border-left: 20px solid #0000aa;

  transition: 0.35s ease-in-out;
}
.logArea:hover {
  right: 0;
  cursor: pointer;
}

.logArea h1 {
  margin: 2px 0;

  border-bottom: 1px solid #fff;
}

#battlefieldEl {
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 5px;

  padding: 5px 10px;
  box-shadow: #02234565 0 0 50px;
}
#battlefieldEl :nth-child(1) { order: 1; }
#battlefieldEl :nth-child(2) { order: 3; }
#battlefieldEl :nth-child(3) { order: 2; } 

.playerField {
  display: flex;
  flex-direction: column; /* Se for inimigo :reverce-column */
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

 /* ESTILIZAÇÂO DO CONTAINER //HAND */
.handEl{
  display: inline-flex;
  width: 100%;
  overflow-x: auto;

  padding: 3px;
}

/* ESTILIZAÇÂO DO CONTAINER //FIELD */
.fieldEl{
  width: 65%;
  height: 160px;

  display: flex;
  flex-direction: column; /* Se for inimigo :reverce-column */
  justify-content: space-around;
  align-items: center;

  border-radius: 3px;

  padding: 2px;
}

/**/
.amountEl, .spellsEl{
  border: 1px solid #33373a35;
  width: 40px;
  height: 55px;
  
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spellsEl {
  width: 90%;
  height: 70px;

  flex-direction: row;
}

/* EStilização do deck */
.deck-area {
  background-color: #00000020;
  width: 100%;
  padding: 5px 0;

  display: flex;
  justify-content: space-around;
}

.deckEl, .descartEl{
  background-color: #234;

  outline: 1px solid orange;
  border-radius: 1px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  font-size: 8pt;
  color: #eee;
}

.deckEl {
  background-image: url('../../cards/verso-hq.png');
  background-size: cover;

  width: 40px;
  height: 60px;
  padding: 3px;
}

.descartEl {
  background-color: transparent;
  color: #113355;
  font-weight: 600;
}

/* EStilização das opções da carta */

/* optionsPanel.style = `
    position: absolute;
    display: flex;
    flex-direction: column;

    background-color: #00000090;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    padding: 3px;
    
  `;
    // Adicionar opcão para as cartas
    const activeCard = document.createElement("button"); // se possivel
    activeCard.style = `
    height: 50%;
    background-color: #2a4;
    color: #eee;
    border: none;
    margin: 1px 0;
    font-size: 8px;
  `;
    activeCard.innerText = "Ativar";

    const setCard = document.createElement("button"); // se possivel
    setCard.style = `
    height: 50%;    
    background-color: #f23;
    color: #eee;
    border: none;
    margin: 1px 0;
    font-size: 8px;
  `;
    setCard.innerText = "Colocar";

    const info = document.createElement("button");
    info.style = `
    height: 50%;  
    background-color: #59c;
    color: #eee;
    border: none;
    margin: 1px 0;
    font-size: 8px;
  `;optionsPanel.style = `
  position: absolute;
  display: flex;
  flex-direction: column;

  background-color: #00000090;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  padding: 3px;
  
`;
  // Adicionar opcão para as cartas
  const activeCard = document.createElement("button"); // se possivel
  activeCard.style = `
  height: 50%;
  background-color: #2a4;
  color: #eee;
  border: none;
  margin: 1px 0;
  font-size: 8px;
`;
  activeCard.innerText = "Ativar";

  const setCard = document.createElement("button"); // se possivel
  setCard.style = `
  height: 50%;    
  background-color: #f23;
  color: #eee;
  border: none;
  margin: 1px 0;
  font-size: 8px;
`;
  setCard.innerText = "Colocar";

  const info = document.createElement("button");
  info.style = `
  height: 50%;  
  background-color: #59c;
  color: #eee;
  border: none;
  margin: 1px 0;
  font-size: 8px;
`; */