@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* SCROLLBAR */
::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #aaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #00000000;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #555;
}


* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  image-rendering: optimizeQuality;
}

body {
  background-color: #89a;

  padding: 0;
  margin: 0;

  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

/* AREA DE LOG */
.logArea {
  position: fixed;
  right: 0px;
  max-width: 200px;
  width: 230px;
  height: 100%;

  background-color: #000;
  color: #eee;

  border-left: 8px solid #0000aa;
}

.logArea h1 {
  margin: 2px 0;
  color: #0000ee;
}

#log-container {
  height: 90%;
  overflow-y: auto;
}

.logData {
  border-right: 3px solid #fff;
  position: relative;
  /* background-color: #0000aa; */
  width: 100%;
  min-height: 35px;
  margin: 1px 0;
  padding: 5px 2px;

  text-align: center;

  font-size: 8pt;
}

.logData::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -6px;
  background-color: #fff;
  width: 12px;
  aspect-ratio: 1;

  z-index: 2;

  transform: rotateZ(45deg);
}
/**********/
  .tela {
    position: relative;
    z-index: 5;
    width: 360px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .battlefield {
    position: relative;
    perspective: 1000px;
    perspective-origin: top;

    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
  }

  .field {
    transform-style: preserve-3d;
    transform: rotateX(70deg);
  }

  .enemyField, .middle, .playerField {
    border: 3px solid #ffffff06;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
    padding: 0;
  }

  .enemyField {
    height: 300px;
  }

  .middle {
    height: 80px;
  }

  .playerField {
    height: 200px;
  }

#playerAmount, #playerEffectZone, #enemyAmount, #enemyEffectZone {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff35;
  border-radius: 3px;
}

  .playerField #playerAmount {
    width: 42px;
    aspect-ratio: 1/1.6;

    margin: 2px 0;
  }

  .playerField #playerEffectZone {
    background-color: #ffffff25;
    border-radius: 3px;
    width: calc(42px * 4);
    aspect-ratio: 1/0.4;

    margin: 2px 0;
  }

  .playerHandZone {
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: baseline;

    /* overflow-x: auto; */
  }

  .playerHandZone > div {
    position: relative;
    width: 140px;
    margin: -30px;

    transform: rotateX(25deg);
  }
  .playerHandZone > div:hover {
    position: relative;
    top: -35px;
    box-shadow: 0 0 20px 2000px #00000050;
    z-index: 10;
  }

  .playerHandZone > div > img {
    width: 100%;
    height: 100%;
  }

  .playerHandZone > div {
    box-shadow: 2px 2px 10px 5px #00000075;
  }

  .enemyField #enemyAmount {
    border-radius: 3px;
    width: 42px;
    aspect-ratio: 1/1.6;

    margin: 2px 0;

    transform: rotateZ(-180deg);
  }

  .enemyField #enemyEffectZone{
    border-radius: 3px;
    width: calc(42px * 4);
    aspect-ratio: 1/0.4;

    margin: 2px 0;
    transform: rotateZ(-180deg);
  }

  #enemyHand {
    position: relative;
    width: 100%;
    height: 25px;

    perspective: 250px;
    perspective-origin: bottom;
  }

  #enemyHand #enemyCards {
    position: relative;
    height: 90px;

    margin: -75px auto;

    display: flex;
    justify-content: center;
    align-items: center;


    transform-style: preserve-3d;
    transform: rotateX(-10deg);
  }

  #enemyCards > div {
    position: relative;
    width: 32px;
    height: 100%;
    margin: 1px;
  }

  #enemyCards > div > img {
    width: 100%;
    height: 100%;
  }

  .middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #deck, #descart {
    border-radius: 2px;
    background-color:#ffaa0045;
    width: 42px;
    height: 26px;

    margin: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #deck > img {
    width: 32px;
    aspect-ratio: 1/1.6;
  }

  #descart > img {
    width: 32px;
    aspect-ratio: 1/1.6;
  }